$main-color: #724CF9;
$main-shade: #564592;

.card-back {
  width: 70px;
  height: 120px;
  background: $main-shade;
  border-radius: 5px;
}

.card {

}

#three-card-spread {
  display: flex;
  flex-direction: row;
  gap: 10px;
}